{% extends 'base.html' %} {% block breadcrumb %}
<li class="breadcrumb-item active">Início</li>
{% endblock %} {% block content %}

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">CustOObra</h1>
            <p>Este site é destinado aos engenheiros que trabalham com orçamentação de obras. Tem o objetivo de reunir informações e possibilitar o debate sobre temas relacionados a engenharia de custos. Pretende-se, a partir da troca de experiências entre
                os profissionais da área, divulgar as principais tabelas de custos referenciais, links, notícias e demais ferramentas úteis para o engenheiro orçamentista. Inscreva-se e deixe sua contribuição.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Tabela de Custos</h2>
                <p>Espaço destinado a obtenção de tabelas com custos de referência disponibilizados pelos órgãos governamentais. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Links Interessantes</h2>
                <p>Veja sites da internet com notícias e informações relacionadas a engenharia de custos sugeridos pelos colegas inscritos no CustOObra. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Estimativa de Custo</h2>
                <p>Estimativa de custo obtida mediante o fornecimento de parâmetros, a partir do Custo Unitário Básico - CUB, disponibilizado para a sua região.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
        </div>

        <hr>
    </div>
    <!-- /container -->
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Fórum</h2>
                <p>Participe dos nossos debates. Sugira um tópico, divulgue uma notícia interessante, coloque sua pergunta ou ajude a tirar a dúvida de um colega.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Pesquisa</h2>
                <p>Espaço destinado a realização de enquetes sobre assuntos sugeridos por nossos inscritos. </p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Orçamentação</h2>
                <p>Espaço em construção.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">Detalhes &raquo;</a></p>
            </div>
        </div>

        <hr>
    </div>
    <!-- /container -->
</main>
{% endblock %}