{% extends 'base_accounts.html' %} {% block title %} {% if validlink %} Trocar senha do {{ form.user.username }} {% else %} Reinicie sua senha {% endif %} {% endblock %} {% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                <h3 class="card-title">Trocar senha do @{{ form.user.username }}</h3>
                <form method="post" novalidate>
                    {% csrf_token %} {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success btn-block">Trocar senha</button>
                </form>
                {% else %}
                <h3 class="card-title">Reinicie sua senha</h3>
                <div class="alert alert-danger" role="alert">
                    Parece que você clicou num link inválido de reinício de senha. Favor tentar de novo.
                </div>
                <a href="{% url 'accounts:password_reset' %}" class="btn btn-secondary btn-block">Solicite um novo link de reinício de senha</a> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}